    <div class="footer">
                    <small>
                        <%= link_to "Stories", "http://www.huffingtonpost.com/rahilla-zafar" %>
                        by Rahilla Zafar
                        </small>
    </div>
